body{
    background-color: rgb(109, 110, 109);
    color:antiquewhite
    
}
.jumbo-color{
    background-color:rgb(85, 86, 86);
}

/* .form-control:focus */
.form-control
{
    background-color:rgb(160, 151, 151)
}

#footer{

    
}


/* /////////////////////////////////////////////// */




