{% extends "blog/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5 mx-5">About </h3>
<p class="mx-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quas? Impedit ea sit, repudiandae voluptate expedita vel quidem sunt ut aliquid ex inventore voluptatem saepe nostrum debitis! Quibusdam, aliquid numquam quo dolor odio alias ipsa aperiam corrupti soluta consectetur? Voluptatem, autem velit. Repellendus quam quos numquam aliquid accusamus ea quasi!</p>
<p class="mx-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus tenetur, perferendis voluptate odio dignissimos nulla magnam in officia est id exercitationem, iure obcaecati qui, architecto autem! Dolorum quibusdam, saepe, deserunt autem neque dolores architecto adipisci suscipit quas tempora aliquid? Quisquam, vitae. Labore dolore accusamus molestiae aliquam facere consequatur, vel aliquid, neque quia repellendus perspiciatis. Eos in accusamus, error, debitis maiores atque nesciunt vel nostrum alias neque voluptatibus odit, autem ad? Atque possimus non hic veniam incidunt molestias repellat molestiae vitae veritatis. Quos nulla blanditiis aperiam iste animi molestiae ullam deleniti pariatur ipsa possimus, iure reiciendis ad, optio quia nesciunt? Quis!</p>
</div>
</div>

<br><br><br><br><br>
{% endblock content%}
